.tools {
  position: absolute;
  bottom: 45%;
  right: -175px;
  transform: rotate(-92deg);

  display: flex;
  flex-flow: row nowrap;
  gap: 12px;
}

.tool {
  font-weight: bold;
  user-select: none;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &:nth-of-type(3) {
    margin-right: 24px;
  }
}
