@keyframes spining {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.player {
  position: relative;

  &[data-playing='false'] {
    > button {
      visibility: visible;
    }
  }

  &:hover {
    > button {
      visibility: visible;
    }
  }
}

.btn {
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
  padding: 4px 8px;
  transform: translate(-50%, -100%);

  & > svg {
    width: 64px;
    height: 64px;
  }

  & :global(.ant-wave) {
    display: none !important;
  }
}

.loader {
  pointer-events: none;

  & > svg {
    animation: spining 2s linear infinite;
  }
}
