.compare {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 12px;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr 80px 1fr;

  & :global(.ant-input-number) {
    width: 100%;
  }
}

.date {
  display: flex;
  flex-flow: column nowrap;
}

.area {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
}

.tags {
  width: 50px;
  height: 32px;
  font-size: 18px;
  margin: 0;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 55px !important;
}
