.layout {
  height: 100%;
}

.grid {
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 16px;

  & > div {
    overflow: auto;
  }
}

.monitor {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
}
