.content {
  --content-padding: 16px;

  width: 100dvw;
  height: 100dvh;
  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: start;

  position: relative;

  padding-top: calc(var(--content-padding) + var(--app-header-height));
  padding-right: calc(var(--content-padding) + var(--app-sider-width));
  padding-left: var(--content-padding);
  padding-bottom: var(--content-padding);

  transition: padding 0.3s ease 0s;

  background: var(--app-content-background);

  &[data-collapse='true'] {
    padding-right: var(--content-padding);
  }
}
