.content {
  --content-padding: 16px;

  width: 100dvw;
  height: 100dvh;
  overflow: auto;

  padding-top: calc(var(--content-padding) + var(--app-header-height));
  padding-right: calc(var(--content-padding) + var(--app-sider-width));
  padding-left: var(--content-padding);
  padding-bottom: var(--content-padding);

  &[data-collapse='true'] {
    padding-right: var(--content-padding);
  }

  & > div {
    width: 100%;
    height: 100%;
    background-color: beige;
  }
}
