.board {
  width: 960px;
  min-width: 960px;
  height: 680px;
  min-height: 680px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/imgs/ground/pic_land@2x.png');

  transform: scale(0.85);
}

.ground {
  width: fit-content;

  display: grid;
  gap: 1px;
  grid-auto-flow: column;

  grid-template-columns: repeat(6, 130px);
  grid-template-rows: repeat(3, 130px);

  perspective: 400px;
  transform-style: preserve-3d;
  transform: translate(92px, 55px) rotateX(-60deg) rotateZ(45deg);
}

.blocks {
  cursor: pointer;
}

.debug {
  position: absolute;
  right: 0px;
  bottom: -120px;
  z-index: 99;
  width: 520px;
}
