.card {
  width: calc(100% - var(--app-sider-width) - var(--content-padding));
  position: absolute;
  left: 16px;
  bottom: 16px;

  &[data-collapse='true'] {
    width: calc(100% - 32px);
  }
}

.list {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 16px;
  justify-content: space-between;
}

.label {
  & span,
  & h3 {
    text-wrap: nowrap;
  }
}
